<ul>
  <li *ngFor="let person of persons" (click)="selectPerson(person)">{{person.name}}</li>
</ul>

<app-person-details [personToShow]="selectedPerson" (childChanged)="detailsChanged($event)">

</app-person-details>

<app-person-search></app-person-search>
//////////////////////////////////////////////////////////////


<form [formGroup]="myForm" (ngSubmit)="mySubmit(myForm.value)">
  <input type="text" [formControl]="imie">
  <input type="text" [formControl]="yob">

<button type="submit">ERROR</button>
</form>


<div *ngIf="imie.hasError('required')">Imie wymagane</div>
<div *ngIf="imie.hasError('franekValue')">Franek odpada</div>
